
.logo{
    width: 100px;
    height: 70px;
}

.shop{
    border: solid black 1px;
    padding: 10px;
    width: 310px;
    margin-top: 10px;
}

.item{
    background-color: lightgray;
    padding: 5px;
    width: 300px;
    margin-top: 10px;
}

.itemImg{
    width: 100px;
    height: 60px;
    border: solid black 1px;
}

.saveButton{
    margin-top: 10px;
    margin-left: 94%;
}
